# requirements.txt
# Python recommandé : 3.10 ou 3.11

streamlit
pandas
plotly
matplotlib
wordcloud
streamlit-extras

# Dépendances utiles (souvent nécessaires via les libs ci-dessus)
numpy
pillow


